.gameplay{
    text-align: center;
    margin: 2.5% 0 5%;
}
.gameplay > h1{
    margin-bottom: 2.5%;
    color: var(black);
    font-size: 5rem;
    text-align: left; 
}

.gameplay-block{
    background-size: 100% 100%;
    height:200px; 
    color: white;
    display:flex; 
    flex-direction: column;
    
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    
    position:relative;
}
.gameplay-block > h1, .gameplay-block > p{
    margin: 0; 
    padding: 0;
}

.gameplay-block > h1{
    font-size: 2.2rem;
    margin-bottom: 10px; 
    text-decoration: underline;
}
.left{
    text-align: left;
    align-items: start;
}
.right{
    text-align:right;
    align-items: end;
}

.gameplay-block > p{width: 40%;}
@media (max-width: 800px) {
    .gameplay-block > p {
        width: 60%; 
    }
}


#pull{
    background: url("assets/gameplay/pull.png");
}
#throw{
    background-image: url("assets/gameplay/throw.png");
}
#catch{
    background-image: url("assets/gameplay/catch.png");
}
#layout{
    background-image: url("assets/gameplay/layout.png");
}

.highlight{
    position:absolute;
    background-color: rgb(172, 170, 170);
    opacity: calc(0.3);
    height:0;
    width:0;
    left:0;
    transition: width 0.2s ease-in, height 0.2s ease-in;
}

.gameplay-block:nth-child(1):hover .highlight,
.gameplay-block:nth-child(2):hover .highlight,
.gameplay-block:nth-child(3):hover .highlight,
.gameplay-block:nth-child(4):hover .highlight{
    width: 100%;
    height:100%;
}