/*navbar styles*/
nav{
    background-image: linear-gradient(to right, var(--oxford-blue), var(--yale-blue));
    height: 15vh; 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    color: var(--cream); 
    z-index: 1000;
    position:sticky; 
    top:0; 
}



.nav-option{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
    width: 10%; 
    margin-left: 12px;
    margin-right: 12px; 
}

.nav-text > a {
    text-decoration: none;
    color: white;
}

.nav-option .nav-svg > img{
    height: 21.5px;
}

@keyframes wipe-in-up {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:up"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
  }
/*video panel styles*/
.video-panel{
    height: 85vh; 
    color: var(--cream);
    overflow: hidden;
    display: flex; 
    align-items: center;
    background-image: url("/assets/images/video-panel.jpg");
    background-size: 100% 100%; 
}

#video{
    top: 10vh; 
    position: relative; 
    z-index: 1; 
    bottom: 100px;
    filter: brightness(30%);
    
}

.video-text{
    position: absolute; 
    text-align: center; 
    z-index: 2; 
    color: #f1f1f1;
    width: 100%;
    animation: fadeIn 4s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.upper{
    font-size:7.5rem;
    margin: 0; 
}
.lower{
    margin: 0; 
    font-size: 2em; 
}